

.contentcollapse .d3-chart {
    width: 100%;
    min-height:600px;
    border: 1px solid gray;
  }
  .contentcollapse .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 0.2px;
  }
  
  .contentcollapse .node text {
    font: 10px sans-serif;
  }
  
  .contentcollapse .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.5px;
  }
  
  .contentcollapse .active {
    stroke-width: 1px !important;
  }
  .contentcollapse .selected text{
    stroke-width: 2px !important;
    fill: #0f0;
  }
  
  .contentcollapse .ghostCircle.show{
      display:block;
  }
  .contentcollapse .ghostCircle.over{
    fill: green !important;
    stroke: steelblue;
    stroke-width: 0.2px;
  }
  
  .contentcollapse .ghostCircle, .active .ghostCircle{
       display: none;
  }
  .contentcollapse .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }