<h1>Vacunas Twitter</h1>

<p>Trbajo de proyecto de grado</p>
<p>Objetivo general</p>
<p>
  Implementar una herramienta computacional para la caracterización de los textos y perfiles de usuarios de la red social Twitter en español, en la divulgación de información referente a vacunación y la identificación de roles pro-vacunación, anti-vacunación y neutrales.
</p>
<p>Objetivos especificos</p>
<ul>
  <li>
    <strong>1</strong>. Aplicar las herramientas disponibles en la actualidad, para realizar el proceso de descarga, limpieza y análisis exploratorio de un conjunto de textos (en español) sobre la red social Twitter.
  </li>
  <li>
    <strong>2</strong>. Integrar las herramientas disponibles, en pro de ejecutar las acciones necesarias de configuración e implementación sobre la caracterización de roles y clasificación de textos en español.
  </li>
  <li>
    <strong>3</strong>. Aplicar un método de clasificación de tópicos jerárquica para para la evaluación y clasificación de los textos sobre el conjunto de publicaciones de Twitter.
  </li>
  <li>
    <strong>4</strong>. Aplicar un método de aprendizaje no supervisado para la categorización de las clases y elementos clave que caractericen los perfiles pro-vacunación, anti-vacunación y neutrales.
  </li>
</ul>
<p>
  <code>Librerías</code> utilizadas:
</p>
<ul>
  <li>
    <strong>1</strong>. https://github.com/curiosity-ai/catalyst
  </li>
  <li>
    <strong>2</strong>. https://github.com/dotnet/machinelearning
  </li>
  <li>https://www.sciencedirect.com/science/article/pii/S0004370212000276</li>
  <li>https://www.codeproject.com/script/Articles/ViewDownloads.aspx?aid=776698</li>
</ul>

<app-word-cloud></app-word-cloud>
