<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Nombramiento de entidades</h4>
            <p class="card-category"> Ejemplo resultados tabulares</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>Texto</th>
                    <th>Tokens</th>
                  </tr>
                </thead>
                <tbody>
                  <mat-spinner diameter="20" *ngIf="loading$ | async"></mat-spinner>
                  <tr *ngFor="let item of ners; index as i">
                    <td>{{ item.text }}</td>
                    <td [innerHTML]="reeplaceNewLineStrings(item?.tokens[0])"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <!-- <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div> -->
          <div class="card-body">
            <h6 class="card-category text-gray">Entidades conocidas</h6>
            <!-- <h4 class="card-title">Alec Thompson</h4> -->
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                    Simplificación
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Significado
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      ADJ
                    </td>
                    <td>
                      Adjetivo
                    </td>
                    <td>
                      una cualidad de un sustantivo
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      ADP
                    </td>
                    <td>
                      adposición
                    </td>
                    <td>
                      es un término de cobertura para preposiciones y posposiciones
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      ADV
                    </td>
                    <td>
                      Advervio
                    </td>
                    <td>
                      describe un verbo, un adjetivo u otro adverbio
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      AUX
                    </td>
                    <td>
                      Auxiliar
                    </td>
                    <td>
                      es una palabra funcional que acompaña al verbo léxico de una frase verbal y expresa distinciones
                      gramaticales que no lleva el verbo léxico
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      CCONJ
                    </td>
                    <td>
                      Conjunción
                    </td>
                    <td>
                      une palabras, cláusulas y oraciones
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      DET
                    </td>
                    <td>
                      Determinante
                    </td>
                    <td>
                      son palabras que modifican sustantivos o frases nominales y expresan la referencia de la frase
                      nominal en contexto
                    </td>
                  </tr>
                  <tr>
                    <td>
                      7
                    </td>
                    <td>
                      INTJ
                    </td>
                    <td>
                      Interjección
                    </td>
                    <td>
                      breve exclamación, a veces insertada en una oración
                    </td>
                  </tr>
                  <tr>
                    <td>
                      8
                    </td>
                    <td>
                      NOUN
                    </td>
                    <td>
                      Sustantivo
                    </td>
                    <td>
                      una persona, lugar, cosa o idea
                    </td>
                  </tr>
                  <tr>
                    <td>
                      9
                    </td>
                    <td>
                      NUM
                    </td>
                    <td>
                      Número
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      10
                    </td>
                    <td>
                      PART
                    </td>
                    <td>
                      Partícula
                    </td>
                    <td>
                      son palabras funcionales que deben asociarse con otra palabra o frase para impartir significado y
                      que no satisfacen las definiciones de otras partes universales del discurso
                    </td>
                  </tr>
                  <tr>
                    <td>
                      11
                    </td>
                    <td>
                      PRON
                    </td>
                    <td>
                      Pronombre
                    </td>
                    <td>
                      representa un sustantivo
                    </td>
                  </tr>
                  <tr>
                    <td>
                      12
                    </td>
                    <td>
                      PROPN
                    </td>
                    <td>
                      Nombre propio
                    </td>
                    <td>
                      es el nombre (o parte del nombre) de un individuo, lugar u objeto específico
                    </td>
                  </tr>
                  <tr>
                    <td>
                      13
                    </td>
                    <td>
                      PUNCT
                    </td>
                    <td>
                      Puntuación
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      14
                    </td>
                    <td>
                      SCONJ
                    </td>
                    <td>
                      Conjunción subordinada
                    </td>
                    <td>
                      es una conjunción que vincula construcciones convirtiendo una de ellas en constituyente de la otra
                    </td>
                  </tr>
                  <tr>
                    <td>
                      15
                    </td>
                    <td>
                      SYM
                    </td>
                    <td>
                      Símbolo
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      16
                    </td>
                    <td>
                      VERB
                    </td>
                    <td>
                      Verbo
                    </td>
                    <td>
                      acción o estado de ser
                    </td>
                  </tr>
                  <tr>
                    <td>
                      17
                    </td>
                    <td>
                      X
                    </td>
                    <td>
                      Otro
                    </td>
                    <td>
                      se utiliza para palabras a las que, por alguna razón, no se les puede asignar una categoría real
                      de parte del discurso
                    </td>
                  </tr>
                  <!--https://universaldependencies.org/u/pos/all.html#al-u-pos/ADP -->
                </tbody>
              </table>
            </div>
            <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">BOW</h4>
            <p class="card-category"> Bolsa de palabras</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6" *ngIf="loadingWordCloudProfiles$ | async">
                  <h2>Word cloud perfiles</h2>
                  <app-word-cloud-svg [inputData]="wordCloudDataProfiles"></app-word-cloud-svg>
                </div>

                <div class="col-md-6" *ngIf="loadingWordCloudBase$ | async">
                  <h2>Word cloud base</h2>
                  <app-word-cloud-svg [inputData]="wordCloudDataBase"></app-word-cloud-svg>
                </div>

              </div>
              <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button> -->
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>